## **Introduction to Python Programming**

In [5]:
print ('Hello');

Hello

In [ ]:
# This is a comment line
# This is another comment line
# This is the last comment line

### Input and Output

In [7]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1))
print (num2, type(num2))
result = num1 + num2
print ("So the result is:", result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'>
200 <class 'str'>
So the result is: 100200
End of the program...

In [8]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1))
print (num2, type(num2))
result = num1 + num2
print ("So the result is:", result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'int'>
300 <class 'int'>
So the result is: 400
End of the program...

In [9]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
result = num1 + num2

Please enter the first number:  200
Please enter the second number:  300

In [24]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))   # here {} denotes place holder
print ("So {0} + {1} = {2}".format(num1, num2, result)) # using indexed place holder
print ("So {2} + {0} = {1}".format(num2, result, num1))
print ("So {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = result))  # labelled place holder
print ("So {fnum} + {snum} = {tot}".format(snum = num2, fnum = num1, tot = result))  # labelled place holder
print ("So %d + %d = %d"%(num1, num2, result))
print ("So %d + %f = %d"%(num1, num2, result))
print ("So %d + %8.2f = %d"%(num1, num2, result))
print (f"So {num1} + {num2} = {result}")    # f => denotes smart formatting availbale from Python 3.7 onwards

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300.000000 = 500
So 200 +   300.00 = 500
So 200 + 300 = 500

### Dynamic Datatypes

In [25]:
var1 = 100
print (var1, type(var1), id(var1))
var1 = 205.7
print (var1, type(var1), id(var1))
var1 = "College"
print (var1, type(var1), id(var1))
var1 = 'College'
print (var1, type(var1), id(var1))
var1 = "A"
print (var1, type(var1), id(var1))
var1 = True
print (var1, type(var1), id(var1))
var1 = False
print (var1, type(var1), id(var1))

100 <class 'int'> 1721774378320
205.7 <class 'float'> 1721903923536
College <class 'str'> 1721897160368
College <class 'str'> 1721897160368
A <class 'str'> 1721776920816
True <class 'bool'> 140706504919248
False <class 'bool'> 140706504919280

In [26]:
var1 = 100
var2 = 100
print (var1, id(var1))
print (var2, id(var2))

100 1721774378320
100 1721774378320

In [29]:
var1 = 257
var2 = 257
print (var1, id(var1))
print (var2, id(var2))

257 1721903935728
257 1721903935664

In [31]:
var1 = -6
var2 = -6
print (var1, id(var1))
print (var2, id(var2))

-6 1721903935856
-6 1721903935664

### Python Operators

In [34]:
# Arithmetic Operators: + - * / // ** %
# Conditional/Relational Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: =
# Special Assignment Operator: += -= *= /= //= **= %=
# Bitwise Operators: & | ^ ~

print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)    # float division
print (100 // 40)   # integer division
print (100 % 40)    # remainder of the division or modulus
print (100 ** 4)    # exponentiation

140
60
4000
2.5
2
20
100000000

In [35]:
print (100 < 30, 100 >= 30, 100 == 100, 100 != 200)

False True True True

In [ ]:
# Operator are of three types: Unary, Binary and Ternary
# Unary Operators: (Require only one operand) +100 -300
# Binary Operators: (Require only one operands) 700+100 900-300
# Ternary Operators: (Require only one operands) examples are here

num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

num1 = 101
# result = num % 2 == 0?"Even":"odd";    # C++, C, Java
result = "Even" if (num1 % 2 == 0) else "Odd"
print (num1, result)

In [38]:
num1 = 100; print (num1)

100

In [42]:
print ("Welcome","to all")
print ("Good bye")

Welcome to all
Good bye

In [46]:
print ("Welcome","to all", end = "; ", sep = " - ")
print ("Good bye")

Welcome - to all; Good bye

In [41]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [49]:
print ("Hello " * 4)
print ("Hi !!! " * 5)

Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!! Hi !!!

### Characters and ASCII Codes

In [52]:
# ASCII (American Standard Code for Information Interchange)
# 8-bit Code, 256 combinations and values are ranging from 0 to 255 (2**8 - 1)
# ASCII Codes will have two sections:
# 1. Normal ASCII Codes (0 to 127): Printable ASCII Codes
# 2. Extended ASCII Codes (128 to 255): Non-Printable ASCII Codes
# A => 65, B => 66 and Z => 90
# a => 97, b => 98 and z => 122
# 0 => 48, 1 => 49 and 9 => 57
# Enter => 13, Tab => 8, Back Space => 9, Space => 32, Esc => 27
print (ord('A'), ord("a"), ord('Z'), ord('z'), ord('9'))
print (chr(65), chr(97), chr(90), chr(122), chr(57))

65 97 90 122 57
A a Z z 9

In [ ]:
# A => 65 = 64 + 1 = 0100 0001
              244   116  52   20
# 500 = 256 + 128 + 64 + 32 + 16 + 4 = 1 1111 0100
              88   24
# 600 = 512 + 64 + 16 + 8 = 10 0101 1000

In [ ]:
# A => 65 = 64 + 1      = 0100 0001
#                    or | 0010 0000 = 32   
#                         --------- 
# a => 97 = 64 + 32 + 1 = 0110 0001

In [55]:
var1 = "A"
var2 = ord(var1) | 32
print (var1, var2)
var2 = chr(var2)
print (var1, var2)

A 97
A a

In [ ]:
# a => 97 = 64 + 32 + 1 = 0110 0001
#                   And & 1101 1111 => 255-32 = 223
#                         --------- 
# A => 65 = 64 + 1      = 0100 0001

In [56]:
var1 = "a"
var2 = ord(var1) & 223
print (var1, var2)
var2 = chr(var2)
print (var1, var2)

a 65
a A