### Module Import

In [1]:
# importing the required module
import math

In [28]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0))
print (math.asin(0), math.asinh(0))
print (math.pi, math.e, math.tau)
print (math.log(1024), math.log(1024, math.e), math.log(1024, 2))
print (math.log2(1024), math.log10(1000), math.log(1000, 10))
print (math.pow(10, 3), 10 ** 3, 10.0 ** 3)
print (math.factorial(5), math.factorial(6), math.gcd(1024, 40))
print ((1024 * 40)/math.gcd(1024, 40), math.sqrt(1000), 1000 ** 0.5)
print (math.floor(10.9), math.floor(10.1), math.ceil(10.9), math.ceil(10.1))

0.0 1.0 0.0 0.0
0.0 0.0
3.141592653589793 2.718281828459045 6.283185307179586
6.931471805599453 6.931471805599453 10.0
10.0 3.0 2.9999999999999996
1000.0 1000 1000.0
120 720 8
5120.0 31.622776601683793 31.622776601683793
10 10 11 11

In [ ]:
help(math)

In [ ]:
Class Assignment:
Check the math module help and try with another 5 math functions which we did not discuss.

In [31]:
import math

print (math.degrees(math.pi))
print (math.radians(180), math.pi)
print (math.lcm(10, 20, 30), math.gcd(10, 20, 30))
print (math.comb(10, 3))
print (math.remainder(10, 7))

180.0
3.141592653589793 3.141592653589793
60 10
120
3.0

### String Processing

In [ ]:
# index from left to right ->   0   1   2   3   4   5   6   7   8   9
#                     mystr =   u   n   i   v   e   r   s   i   t   y
# index from right to left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [52]:
# indexing and slicing
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[8], mystr[-2])   # indexing
print (mystr[4:8], mystr[-6:-2], mystr[4:-2], mystr[-6:8])   # slicing
print (mystr[0:6], mystr[:6], mystr[6:], mystr[-4:])
print (mystr[::2], mystr[1::2], mystr[7:3:-1], mystr[-3:-7:-1])
print (mystr[::-1])

university 10 <class 'str'> 1704036649008
v v t t
ersi ersi ersi ersi
univer univer sity sity
uiest nvriy isre isre
ytisrevinu

In [60]:
mystr = "enGIneeRinG coLLegE"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.capitalize().center(40))

enGIneeRinG coLLegE 19 <class 'str'> 1704036496480
ENGINEERING COLLEGE
engineering college
Engineering college
Engineering College
ENgiNEErINg COllEGe
          enGIneeRinG coLLegE
          Engineering college

In [67]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find(" at"), mystr.find("at"))
print (mystr.find("i"), mystr.find("i", 5), mystr.find("i", 12))

4 14 15
4 11 -1

In [71]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index(" at"), mystr.index("at"))
print (mystr.index("i"), mystr.index("i", 5))
print (mystr.index("i", 12))

4 14 15
4 11

ValueError: substring not found

In [74]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index(" at"), mystr.index("at"))
    print (mystr.index("i"), mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("ValueError: Unsuccessful searching...")
    print ("ValueError: Error message:", ve)

4 14 15
4 11
ValueError: Unsuccessful searching...
ValueError: Error message: substring not found

In [78]:
mystr = "    enginerring      college    "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    enginerring      college     32 <class 'str'> 1704063524016
enginerring      college 24
enginerring      college     28
    enginerring      college 28

In [79]:
mystr = "@#@@enginerring@#@##@college@@@##"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

@#@@enginerring@#@##@college@@@## 33 <class 'str'> 1704063528624
enginerring@#@##@college 24
enginerring@#@##@college@@@## 29
@#@@enginerring@#@##@college 28

In [87]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("abc"))
print (mystr.startswith("begi"), mystr.startswith("begi", 8))
print (mystr.startswith("begi", 8, 20), mystr.startswith("begi", 8, 10))

True False
False True
True False

In [91]:
mystr = "charity begins at home"
print (mystr.endswith("home"), mystr.endswith("abc"))
print (mystr.endswith("ins", 0, 14), mystr.endswith("ins", 5, 16))

True False
True False

In [93]:
mystr = "college"
for ch in mystr:
    print (ch)

c
o
l
l
e
g
e

In [95]:
mystr = "college"
for i in range(len(mystr)):
    print (mystr[i])

c
o
l
l
e
g
e

In [100]:
mystr = "mississippi"
print (mystr, len(mystr), type(mystr))
result = list(mystr)
print (result, len(result), type(result))
result = tuple(mystr)
print (result, len(result), type(result))
result = set(mystr)
print (result, len(result), type(result))
result = frozenset(mystr)
print (result, len(result), type(result))

mississippi 11 <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] 11 <class 'list'>
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') 11 <class 'tuple'>
{'s', 'm', 'p', 'i'} 4 <class 'set'>
frozenset({'s', 'm', 'p', 'i'}) 4 <class 'frozenset'>

In [104]:
mystr = "charity begins at home"
print (mystr, len(mystr))
result = mystr.split()
print (result, len(result))
result = mystr.split(" ")
print (result, len(result))
result = mystr.split("i")
print (result, len(result))

charity begins at home 22
['charity', 'begins', 'at', 'home'] 4
['charity', 'begins', 'at', 'home'] 4
['char', 'ty beg', 'ns at home'] 3

In [ ]:
help(str.split)

In [109]:
source = ['charity', 'begins', 'at', 'home']
mystr = " ".join(source)
print (mystr)

mystr = " - ".join(source)
print (mystr)

source = ['char', 'ty beg', 'ns at home']
mystr = "i".join(source)
print (mystr)

charity begins at home
charity - begins - at - home
charity begins at home

In [117]:
mystr = "university"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "university123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "university-123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "123.45"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "四"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())

# isdecimal() is subset of isdigit() is subset of isnumeric()

university True True False False False
university123 False True False False False
university-123 False False False False False
123 False True True True True
123.45 False False False False False
四 True True False True False

In [120]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))

university 10
2 1 0

In [124]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

university 10
unxversxty
university
unxversxty

In [ ]:
Class Assignment - 1
--------------------
Take a string from the user as input and find the number of vowels and cosonants in that given string.
String may contain upper and lower case characters and special characters.