### Module Import

In [1]:
# importing the required module
import math

In [28]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0))
print (math.asin(0), math.asinh(0))
print (math.pi, math.e, math.tau)
print (math.log(1024), math.log(1024, math.e), math.log(1024, 2))
print (math.log2(1024), math.log10(1000), math.log(1000, 10))
print (math.pow(10, 3), 10 ** 3, 10.0 ** 3)
print (math.factorial(5), math.factorial(6), math.gcd(1024, 40))
print ((1024 * 40)/math.gcd(1024, 40), math.sqrt(1000), 1000 ** 0.5)
print (math.floor(10.9), math.floor(10.1), math.ceil(10.9), math.ceil(10.1))

0.0 1.0 0.0 0.0
0.0 0.0
3.141592653589793 2.718281828459045 6.283185307179586
6.931471805599453 6.931471805599453 10.0
10.0 3.0 2.9999999999999996
1000.0 1000 1000.0
120 720 8
5120.0 31.622776601683793 31.622776601683793
10 10 11 11

In [ ]:
help(math)

In [ ]:
Class Assignment:
Check the math module help and try with another 5 math functions which we did not discuss.

In [31]:
import math

print (math.degrees(math.pi))
print (math.radians(180), math.pi)
print (math.lcm(10, 20, 30), math.gcd(10, 20, 30))
print (math.comb(10, 3))
print (math.remainder(10, 7))

180.0
3.141592653589793 3.141592653589793
60 10
120
3.0

### String Processing

In [ ]:
# index from left to right ->   0   1   2   3   4   5   6   7   8   9
#                     mystr =   u   n   i   v   e   r   s   i   t   y
# index from right to left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [52]:
# indexing and slicing
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[8], mystr[-2])   # indexing
print (mystr[4:8], mystr[-6:-2], mystr[4:-2], mystr[-6:8])   # slicing
print (mystr[0:6], mystr[:6], mystr[6:], mystr[-4:])
print (mystr[::2], mystr[1::2], mystr[7:3:-1], mystr[-3:-7:-1])
print (mystr[::-1])

university 10 <class 'str'> 1704036649008
v v t t
ersi ersi ersi ersi
univer univer sity sity
uiest nvriy isre isre
ytisrevinu

In [60]:
mystr = "enGIneeRinG coLLegE"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.capitalize().center(40))

enGIneeRinG coLLegE 19 <class 'str'> 1704036496480
ENGINEERING COLLEGE
engineering college
Engineering college
Engineering College
ENgiNEErINg COllEGe
          enGIneeRinG coLLegE
          Engineering college

In [67]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find(" at"), mystr.find("at"))
print (mystr.find("i"), mystr.find("i", 5), mystr.find("i", 12))

4 14 15
4 11 -1

In [71]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index(" at"), mystr.index("at"))
print (mystr.index("i"), mystr.index("i", 5))
print (mystr.index("i", 12))

4 14 15
4 11

ValueError: substring not found

In [74]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index(" at"), mystr.index("at"))
    print (mystr.index("i"), mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("ValueError: Unsuccessful searching...")
    print ("ValueError: Error message:", ve)

4 14 15
4 11
ValueError: Unsuccessful searching...
ValueError: Error message: substring not found

In [78]:
mystr = "    enginerring      college    "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    enginerring      college     32 <class 'str'> 1704063524016
enginerring      college 24
enginerring      college     28
    enginerring      college 28

In [79]:
mystr = "@#@@enginerring@#@##@college@@@##"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

@#@@enginerring@#@##@college@@@## 33 <class 'str'> 1704063528624
enginerring@#@##@college 24
enginerring@#@##@college@@@## 29
@#@@enginerring@#@##@college 28

In [87]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("abc"))
print (mystr.startswith("begi"), mystr.startswith("begi", 8))
print (mystr.startswith("begi", 8, 20), mystr.startswith("begi", 8, 10))

True False
False True
True False

In [91]:
mystr = "charity begins at home"
print (mystr.endswith("home"), mystr.endswith("abc"))
print (mystr.endswith("ins", 0, 14), mystr.endswith("ins", 5, 16))

True False
True False

In [93]:
mystr = "college"
for ch in mystr:
    print (ch)

c
o
l
l
e
g
e

In [95]:
mystr = "college"
for i in range(len(mystr)):
    print (mystr[i])

c
o
l
l
e
g
e

In [100]:
mystr = "mississippi"
print (mystr, len(mystr), type(mystr))
result = list(mystr)
print (result, len(result), type(result))
result = tuple(mystr)
print (result, len(result), type(result))
result = set(mystr)
print (result, len(result), type(result))
result = frozenset(mystr)
print (result, len(result), type(result))

mississippi 11 <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i'] 11 <class 'list'>
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i') 11 <class 'tuple'>
{'s', 'm', 'p', 'i'} 4 <class 'set'>
frozenset({'s', 'm', 'p', 'i'}) 4 <class 'frozenset'>

In [104]:
mystr = "charity begins at home"
print (mystr, len(mystr))
result = mystr.split()
print (result, len(result))
result = mystr.split(" ")
print (result, len(result))
result = mystr.split("i")
print (result, len(result))

charity begins at home 22
['charity', 'begins', 'at', 'home'] 4
['charity', 'begins', 'at', 'home'] 4
['char', 'ty beg', 'ns at home'] 3

In [ ]:
help(str.split)

In [109]:
source = ['charity', 'begins', 'at', 'home']
mystr = " ".join(source)
print (mystr)

mystr = " - ".join(source)
print (mystr)

source = ['char', 'ty beg', 'ns at home']
mystr = "i".join(source)
print (mystr)

charity begins at home
charity - begins - at - home
charity begins at home

In [117]:
mystr = "university"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "university123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "university-123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "123"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "123.45"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())
mystr = "四"
print (mystr, mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric(), mystr.isdecimal())

# isdecimal() is subset of isdigit() is subset of isnumeric()

university True True False False False
university123 False True False False False
university-123 False False False False False
123 False True True True True
123.45 False False False False False
四 True True False True False

In [120]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))

university 10
2 1 0

In [124]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

university 10
unxversxty
university
unxversxty

In [ ]:
Class Assignment - 1
--------------------
Take a string from the user as input and find the number of vowels and cosonants in that given string.
String may contain upper and lower case characters and special characters.

In [130]:
mystr = input("Please enter your string: ")
vcount = ccount = 0
for ch in mystr.lower():
    # print (ch)
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So vowel count = {vcount} and consonant count = {ccount}...")
print ("End of the program...")

Please enter your string:  Ram is a good boy.

So vowel count = 6 and consonant count = 7...
End of the program...

In [ ]:
mystr = "Hello I'm Soumyadip..."
result = list(mystr)
print (result, len(result), type(result))
for i in range(0, len(result)):
    if(result[i].isalpha() == True and (result[i] == 'a' or result[i] == 'e' or result[i] == 'i' or result[i] == 'o' or result[i] == 'u' or result[i] == 'A' or result[i] == 'E' or result[i] == 'I' or result[i] == 'O' or result[i] == 'U')):
        print("Vowel: ")
        print(result[i])
    elif(result[i].isalpha() == True):
        print("Consonant: ")
        print(result[i])

In [ ]:
help(str)

In [181]:
var1 = []
print (var1, len(var1), type(var1))
var1 = ()
print (var1, len(var1), type(var1))
var1 = {}
print (var1, len(var1), type(var1))
var1 = set()
print (var1, len(var1), type(var1))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>

In [185]:
var1 = (11, 22)
print (var1, len(var1), type(var1))
var1 = (11)
print (var1, type(var1))
var1 = (11,)    # singleton representation of a tuple
print (var1, type(var1))

(11, 22) 2 <class 'tuple'>
11 <class 'int'>
(11,) <class 'tuple'>

### List Processing

In [131]:
list1 = [100, 200, 300, 400, 150]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 200, 300, 400, 150] 5 <class 'list'> 1704074107904
100 400
1150 230.0

In [134]:
list1 = [100, True, 200, 300.5, False, 400.23, 150]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1) / len(list1))

[100, True, 200, 300.5, False, 400.23, 150] 7 <class 'list'> 1704074082624
False 400.23
1151.73 164.53285714285715

In [140]:
list1 = ["Monday", "Tuesday", "friday", "Saturday", "Thursday"]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
# print (sum(list1), sum(list1) / len(list1))

['Monday', 'Tuesday', 'friday', 'Saturday', 'Thursday'] 5 <class 'list'> 1704074592128
Monday friday

In [143]:
list1 = ["Monday", False, "Tuesday", 100, "friday", 22.5, "Saturday", True, "Thursday"]
print (list1, len(list1), type(list1), id(list1))
# print (min(list1), max(list1))
# print (sum(list1), sum(list1) / len(list1))

['Monday', False, 'Tuesday', 100, 'friday', 22.5, 'Saturday', True, 'Thursday'] 9 <class 'list'> 1704077239360

In [156]:
# Left to right ->    0         1          2         3           4 
list1 =             ["Monday", "Tuesday", "Friday", "Saturday", "Thursday"]
# right to left ->   -5        -4         -3        -2          -1 
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[4], list1[-1])
print (list1[1:4], list1[-4:-1], list1[1:-1], list1[-4:4])
print (list1[3][2:5])
print (list1[::2], list1[1::2], list1[::-1])

['Monday', 'Tuesday', 'Friday', 'Saturday', 'Thursday'] 5 <class 'list'> 1704077150656
Friday Friday Thursday Thursday
['Tuesday', 'Friday', 'Saturday'] ['Tuesday', 'Friday', 'Saturday'] ['Tuesday', 'Friday', 'Saturday'] ['Tuesday', 'Friday', 'Saturday']
tur
['Monday', 'Friday', 'Thursday'] ['Tuesday', 'Saturday'] ['Thursday', 'Saturday', 'Friday', 'Tuesday', 'Monday']

In [160]:
list1 = ["Monday", "Tuesday", "Friday", "Saturday"]
print (list1, len(list1), type(list1), id(list1))
list2 = ["Thursday", "Wednesday", "Sunday"]
print (list2, len(list2), type(list2), id(list2))
list3 = list1 + list2
print (list3, len(list3), type(list3), id(list3))

['Monday', 'Tuesday', 'Friday', 'Saturday'] 4 <class 'list'> 1704074747840
['Thursday', 'Wednesday', 'Sunday'] 3 <class 'list'> 1704074578368
['Monday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Wednesday', 'Sunday'] 7 <class 'list'> 1704077154368

In [167]:
list1 = ["Monday", "Tuesday", "Friday", "Saturday"]
print (list1, len(list1), type(list1), id(list1))
list2 = ["Thursday", "Wednesday", "Sunday"]
print (list2, len(list2), type(list2), id(list2))
list3 = [list1, list2]    # list of lists
print (list3, len(list3), type(list3), id(list3))
print (list3[1][1])
print (list3[1][0][2:5])

['Monday', 'Tuesday', 'Friday', 'Saturday'] 4 <class 'list'> 1704074747840
['Thursday', 'Wednesday', 'Sunday'] 3 <class 'list'> 1704074144704
[['Monday', 'Tuesday', 'Friday', 'Saturday'], ['Thursday', 'Wednesday', 'Sunday']] 2 <class 'list'> 1704077157376
Wednesday
urs

In [169]:
# Insert operation of a list
list1 = ["Monday", "Tuesday", "Friday", "Saturday"]
print (list1, len(list1), type(list1), id(list1))
list1.append("Wednesday")
list1.append("Sunday")
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Friday', 'Saturday'] 4 <class 'list'> 1704077012544
['Monday', 'Tuesday', 'Friday', 'Saturday', 'Wednesday', 'Sunday'] 6 <class 'list'> 1704077012544

In [190]:
list1 = ["Monday", "Tuesday", "Friday", "Saturday"]
print (list1, len(list1), type(list1), id(list1))
list1.insert(3, "Wednesday")
print (list1, len(list1), type(list1), id(list1))
list1.insert(2, "Sunday")
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Friday', 'Saturday'] 4 <class 'list'> 1704077712320
['Monday', 'Tuesday', 'Friday', 'Wednesday', 'Saturday'] 5 <class 'list'> 1704077712320
['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704077712320

In [173]:
# delete operation on a list
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1.remove("Wednesday")
print (list1, len(list1), type(list1), id(list1))
list1.remove("Sunday")
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704075959680
['Monday', 'Tuesday', 'Sunday', 'Friday', 'Saturday'] 5 <class 'list'> 1704075959680
['Monday', 'Tuesday', 'Friday', 'Saturday'] 4 <class 'list'> 1704075959680

In [175]:
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
print (list1.pop())
print (list1, len(list1), type(list1), id(list1))
print (list1.pop())
print (list1, len(list1), type(list1), id(list1))
print (list1.pop())
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704077033536
Saturday
['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday'] 5 <class 'list'> 1704077033536
Wednesday
['Monday', 'Tuesday', 'Sunday', 'Friday'] 4 <class 'list'> 1704077033536
Friday
['Monday', 'Tuesday', 'Sunday'] 3 <class 'list'> 1704077033536

In [176]:
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
print (list1.pop(3))
print (list1, len(list1), type(list1), id(list1))
print (list1.pop(1))
print (list1, len(list1), type(list1), id(list1))
print (list1.pop(2))
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704074080128
Friday
['Monday', 'Tuesday', 'Sunday', 'Wednesday', 'Saturday'] 5 <class 'list'> 1704074080128
Tuesday
['Monday', 'Sunday', 'Wednesday', 'Saturday'] 4 <class 'list'> 1704074080128
Wednesday
['Monday', 'Sunday', 'Saturday'] 3 <class 'list'> 1704074080128

In [187]:
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1.clear()
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704077674496
[] 0 <class 'list'> 1704077674496

In [196]:
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
del list1[2]
print (list1, len(list1), type(list1), id(list1))
del list1
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704078321792
['Monday', 'Tuesday', 'Friday', 'Wednesday', 'Saturday'] 5 <class 'list'> 1704078321792

NameError: name 'list1' is not defined

In [189]:
# update operation on a list
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1[2] = "Thursday"
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704073792064
['Monday', 'Tuesday', 'Thursday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704073792064

In [197]:
# reverse of a list
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1.reverse()
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704078286272
['Saturday', 'Wednesday', 'Friday', 'Sunday', 'Tuesday', 'Monday'] 6 <class 'list'> 1704078286272

In [200]:
# sorting of a list
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1.sort()
print (list1, len(list1), type(list1), id(list1))
list1.sort(reverse=True)
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704074681280
['Friday', 'Monday', 'Saturday', 'Sunday', 'Tuesday', 'Wednesday'] 6 <class 'list'> 1704074681280
['Wednesday', 'Tuesday', 'Sunday', 'Saturday', 'Monday', 'Friday'] 6 <class 'list'> 1704074681280

In [202]:
list1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday']
print (list1, len(list1), type(list1), id(list1))
list1 = sorted(list1)
print (list1, len(list1), type(list1), id(list1))
list1 = sorted(list1, reverse=True)
print (list1, len(list1), type(list1), id(list1))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704073761728
['Friday', 'Monday', 'Saturday', 'Sunday', 'Tuesday', 'Wednesday'] 6 <class 'list'> 1704073805952
['Wednesday', 'Tuesday', 'Sunday', 'Saturday', 'Monday', 'Friday'] 6 <class 'list'> 1704073757440

In [205]:
list1 = [True, False, True, False]
print (list1, any(list1), all(list1))
list1 = [False, False, False, False]
print (list1, any(list1), all(list1))
list1 = [True, True, True, True]
print (list1, any(list1), all(list1))

[True, False, True, False] True False
[False, False, False, False] False False
[True, True, True, True] True True

In [211]:
List1 = ['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday', 'Sunday', 'Friday']
print (List1, len(List1), type(List1), id(List1))
print (List1.count('Sunday'))
print (List1.index("Friday"))
print (List1.index("Friday", 4))

['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday', 'Sunday', 'Friday'] 8 <class 'list'> 1704077504448
2
3
7

In [212]:
def list_function(list1):
    print ("From function before processing list1 =", list1)
    for i in range(len(list1)):
        list1[i] += 100
    print ("From function after processing list1 =", list1)

list2 = [11, 22, 33, 44, 55, 66, 77]
print ("From outside of the function before calling the function list2 =", list2)
list_function(list2)
print ("From outside of the function after calling the function list2 =", list2)

From outside of the function before calling the function list2 = [11, 22, 33, 44, 55, 66, 77]
From function before processing list1 = [11, 22, 33, 44, 55, 66, 77]
From function after processing list1 = [111, 122, 133, 144, 155, 166, 177]
From outside of the function after calling the function list2 = [111, 122, 133, 144, 155, 166, 177]

In [216]:
list1 = [11, 22, 33, 44, 55, 66, 77]
print (list1, id(list1))
list2 = list1
print (list2, id(list2))
list1[0] = 1000
list2[-1] = 5000
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77] 1704073816128
[11, 22, 33, 44, 55, 66, 77] 1704073816128
[1000, 22, 33, 44, 55, 66, 5000] 1704073816128
[1000, 22, 33, 44, 55, 66, 5000] 1704073816128

In [217]:
list1 = [11, 22, 33, 44, 55, 66, 77]
print (list1, id(list1))
list2[:] = list1
print (list2, id(list2))
list1[0] = 1000
list2[-1] = 5000
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77] 1704066036160
[11, 22, 33, 44, 55, 66, 77] 1704073816128
[1000, 22, 33, 44, 55, 66, 77] 1704066036160
[11, 22, 33, 44, 55, 66, 5000] 1704073816128

In [218]:
list1 = [11, 22, 33, 44, 55, 66, 77]
print (list1, id(list1))
list2 = list1.copy()
print (list2, id(list2))
list1[0] = 1000
list2[-1] = 5000
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77] 1704074746816
[11, 22, 33, 44, 55, 66, 77] 1704073818944
[1000, 22, 33, 44, 55, 66, 77] 1704074746816
[11, 22, 33, 44, 55, 66, 5000] 1704073818944

In [219]:
list1 = [11, 22, 33, 44, 55, 66, 77]
print (list1, id(list1))
list2 = list1[:4]
print (list2, id(list2))
list1[0] = 1000
list2[-1] = 5000
print (list1, id(list1))
print (list2, id(list2))

[11, 22, 33, 44, 55, 66, 77] 1704074676096
[11, 22, 33, 44] 1704073820864
[1000, 22, 33, 44, 55, 66, 77] 1704074676096
[11, 22, 33, 5000] 1704073820864

In [ ]:
Class Assignment:
-----------------
Take n number of integers from the user and put them in a list variable and sort them in the ascending order.
Now take one by one number from the sorted list and put them in two separate lists depending upon the fact
whether the number is EVEN or ODD. So in this way create another two EVEN and ODD lists. Display all three lists.

In [224]:
n = int(input("Enter the number of elements: "))
list1 = []
for i in range(n):
    item = int(input("Enter a value: "))
    list1.append(item)

list1.sort()
print("User Input List =", list1)

list2 = []
list3 = []
for i in range(len(list1)):
    if (list1[i] % 2 == 0): list2.append(list1[i])
    else: list3.append(list1[i])

print("EVEN Numbers List =", list2)
print("ODD Numbers List =", list3)

Enter the number of elements:  8
Enter a value:  22
Enter a value:  66
Enter a value:  44
Enter a value:  77
Enter a value:  55
Enter a value:  88
Enter a value:  11
Enter a value:  33

User Input List = [11, 22, 33, 44, 55, 66, 77, 88]
EVEN Numbers List = [22, 44, 66, 88]
ODD Numbers List = [11, 33, 55, 77]

### Tuple Processing

In [133]:
tuple1 = (100, 200, 300, 400, 150)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 200, 300, 400, 150) 5 <class 'tuple'> 1704064957744
100 400
1150 230.0

In [135]:
tuple1 = (100, True, 200, 300.5, False, 400.23, 150)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, True, 200, 300.5, False, 400.23, 150) 7 <class 'tuple'> 1704065144800
False 400.23
1151.73 164.53285714285715

In [141]:
tuple1 = ("Monday", "Tuesday", "friday", "Saturday", "Thursday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('Monday', 'Tuesday', 'friday', 'Saturday', 'Thursday') 5 <class 'tuple'> 1704079723072
Monday friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [145]:
tuple1 = ("Monday", False, "Tuesday", 100, "friday", 22.5, "Saturday", True, "Thursday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# print (min(tuple1), max(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('Monday', False, 'Tuesday', 100, 'friday', 22.5, 'Saturday', True, 'Thursday') 9 <class 'tuple'> 1704079958336

In [153]:
tuple1 = ("Monday", "Tuesday", "friday", "Saturday", "Thursday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))

('Monday', 'Tuesday', 'friday', 'Saturday', 'Thursday') 5 <class 'tuple'> 1704079793568

In [157]:
# Left to right ->    0         1          2         3           4 
tuple1 =             ("Monday", "Tuesday", "Friday", "Saturday", "Thursday")
# right to left ->   -5        -4         -3        -2          -1 
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1[2], tuple1[-3], tuple1[4], tuple1[-1])
print (tuple1[1:4], tuple1[-4:-1], tuple1[1:-1], tuple1[-4:4])
print (tuple1[3][2:5])
print (tuple1[::2], tuple1[1::2], tuple1[::-1])

('Monday', 'Tuesday', 'Friday', 'Saturday', 'Thursday') 5 <class 'tuple'> 1704079794848
Friday Friday Thursday Thursday
('Tuesday', 'Friday', 'Saturday') ('Tuesday', 'Friday', 'Saturday') ('Tuesday', 'Friday', 'Saturday') ('Tuesday', 'Friday', 'Saturday')
tur
('Monday', 'Friday', 'Thursday') ('Tuesday', 'Saturday') ('Thursday', 'Saturday', 'Friday', 'Tuesday', 'Monday')

In [162]:
tuple1 = ("Monday", "Tuesday", "Friday", "Saturday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
tuple2 = ("Thursday", "Wednesday", "Sunday")
print (tuple2, len(tuple2), type(tuple2), id(tuple2))
tuple3 = tuple1 + tuple2
print (tuple3, len(tuple3), type(tuple3), id(tuple3))

('Monday', 'Tuesday', 'Friday', 'Saturday') 4 <class 'tuple'> 1704079705088
('Thursday', 'Wednesday', 'Sunday') 3 <class 'tuple'> 1704074335168
('Monday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Wednesday', 'Sunday') 7 <class 'tuple'> 1704079738048

In [168]:
tuple1 = ("Monday", "Tuesday", "Friday", "Saturday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
tuple2 = ("Thursday", "Wednesday", "Sunday")
print (tuple2, len(tuple2), type(tuple2), id(tuple2))
tuple3 = (tuple1, tuple2)    # tuple of tuples
print (tuple3, len(tuple3), type(tuple3), id(tuple3))
print (tuple3[1][1])
print (tuple3[1][0][2:5])

('Monday', 'Tuesday', 'Friday', 'Saturday') 4 <class 'tuple'> 1704079713168
('Thursday', 'Wednesday', 'Sunday') 3 <class 'tuple'> 1704074473472
(('Monday', 'Tuesday', 'Friday', 'Saturday'), ('Thursday', 'Wednesday', 'Sunday')) 2 <class 'tuple'> 1704074344768
Wednesday
urs

In [195]:
# update a tuple through a list
tuple1 = ('Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# tuple1[2] = "Thursday"
list1 = list(tuple1)
print (list1, len(list1), type(list1), id(list1))
list1[2] = "Thursday"
print (list1, len(list1), type(list1), id(list1))
tuple1 = tuple(list1)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))

('Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday') 6 <class 'tuple'> 1704080075040
['Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704079200768
['Monday', 'Tuesday', 'Thursday', 'Friday', 'Wednesday', 'Saturday'] 6 <class 'list'> 1704079200768
('Monday', 'Tuesday', 'Thursday', 'Friday', 'Wednesday', 'Saturday') 6 <class 'tuple'> 1704080080032

In [207]:
tuple1 = (True, False, True, False)
print (tuple1, any(tuple1), all(tuple1))
tuple1 = (False, False, False, False)
print (tuple1, any(tuple1), all(tuple1))
tuple1 = (True, True, True, True)
print (tuple1, any(tuple1), all(tuple1))

(True, False, True, False) True False
(False, False, False, False) False False
(True, True, True, True) True True

In [210]:
tuple1 = ('Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday', 'Sunday', 'Friday')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1.count('Sunday'))
print (tuple1.index("Friday"))
print (tuple1.index("Friday", 4))

('Monday', 'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Saturday', 'Sunday', 'Friday') 8 <class 'tuple'> 1704078448320
2
3
7

### Dictionary Processing

In [233]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())    # returns list of keys
print (dict1.values())  # returns list of values
print (dict1.items())   # returns list of tuples

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 1704080691136
dict_keys(['apple', 'pineapple', 'mango', 'orange'])
dict_values(['red', 'yellow', 'green', 'orange'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('mango', 'green'), ('orange', 'orange')])

In [234]:
for key, val in dict1.items():
    print (f"Key = {key} and value = {val}...")

Key = apple and value = red...
Key = pineapple and value = yellow...
Key = mango and value = green...
Key = orange and value = orange...

In [235]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "mango":"red"}
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red'} 3 <class 'dict'> 1704080321472

In [240]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("pineapple"))
print (dict1.get("pineapple", "Not found"))
print (dict1.get("guava"))
print (dict1.get("guava", "Not found"))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 1704080633344
yellow
yellow
None
Not found

In [241]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1["pineapple"])
print (dict1["mango"])
print (dict1["guava"])

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 1704077673216
yellow
green

KeyError: 'guava'

In [243]:
# insert and update operations
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["orange"] = "orange"   # insert
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["coconut"] = "brown"   # insert
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["mango"] = "red"    # update
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 1704077449152
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange'} 4 <class 'dict'> 1704077449152
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'orange': 'orange', 'coconut': 'brown'} 5 <class 'dict'> 1704077449152
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red', 'orange': 'orange', 'coconut': 'brown'} 5 <class 'dict'> 1704077449152

In [244]:
dict1 = {"apple":"red", "pineapple":"yellow", "mango":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("apple", "deep red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("mango", "red")
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.setdefault("coconut", "brown")
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 1704080619136
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 1704080619136
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 1704080619136
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704080619136

In [247]:
# delete operation
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('apple'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('coconut'))
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop('coconut'))
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704080629504
yellow
{'apple': 'red', 'mango': 'green', 'coconut': 'brown'} 3 <class 'dict'> 1704080629504
red
{'mango': 'green', 'coconut': 'brown'} 2 <class 'dict'> 1704080629504
brown
{'mango': 'green'} 1 <class 'dict'> 1704080629504

KeyError: 'coconut'

In [249]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704072858112
('coconut', 'brown')
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 <class 'dict'> 1704072858112
('mango', 'green')
{'apple': 'red', 'pineapple': 'yellow'} 2 <class 'dict'> 1704072858112
('pineapple', 'yellow')
{'apple': 'red'} 1 <class 'dict'> 1704072858112
('apple', 'red')
{} 0 <class 'dict'> 1704072858112

KeyError: 'popitem(): dictionary is empty'

In [250]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.clear()
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704077414720
{} 0 <class 'dict'> 1704077414720

In [251]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'}
print (dict1, len(dict1), type(dict1), id(dict1))
del dict1
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704073718720

NameError: name 'dict1' is not defined

In [255]:
# concatenating dictionaries
fruits1 = {'apple': 'red', 'pineapple': 'yellow'}
print (fruits1, len(fruits1), type(fruits1), id(fruits1))
fruits2 = {'mango': 'green', 'coconut': 'brown'}
print (fruits2, len(fruits2), type(fruits2), id(fruits2))
fruits1.update(fruits2)
print (fruits1, len(fruits1), type(fruits1), id(fruits1))
print (fruits2, len(fruits2), type(fruits2), id(fruits2))

{'apple': 'red', 'pineapple': 'yellow'} 2 <class 'dict'> 1704073896192
{'mango': 'green', 'coconut': 'brown'} 2 <class 'dict'> 1704071901056
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green', 'coconut': 'brown'} 4 <class 'dict'> 1704073896192
{'mango': 'green', 'coconut': 'brown'} 2 <class 'dict'> 1704071901056

In [256]:
mykeys = ["mango", "lime", "lemon", "banana", "cherry"]
price = 900
dict1 = dict.fromkeys(mykeys, price)
print (dict1)

{'mango': 900, 'lime': 900, 'lemon': 900, 'banana': 900, 'cherry': 900}

In [262]:
fruits = ["mango", "lime", "lemon", "banana", "cherry"]
prices = [100, 300, 250, 75, 600, 700, 900]
print (zip(fruits, prices))
print (list(zip(fruits, prices)))
print (tuple(zip(fruits, prices)))
print (dict(list(zip(fruits, prices))))
print (dict(tuple(zip(fruits, prices))))
print (dict(zip(fruits, prices)))

<zip object at 0x0000018CC2726FC0>
[('mango', 100), ('lime', 300), ('lemon', 250), ('banana', 75), ('cherry', 600)]
(('mango', 100), ('lime', 300), ('lemon', 250), ('banana', 75), ('cherry', 600))
{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600}
{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600}
{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600}

In [266]:
dict1 = {'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600}
print (dict1, id(dict1))
dict2 = dict1.copy()
print (dict2, id(dict2))
dict1["mango"] = 999
dict2["banana"] = 777
print (dict1, id(dict1))
print (dict2, id(dict2))

{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600} 1704064979072
{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600} 1704065092608
{'mango': 999, 'lime': 300, 'lemon': 250, 'banana': 75, 'cherry': 600} 1704064979072
{'mango': 100, 'lime': 300, 'lemon': 250, 'banana': 777, 'cherry': 600} 1704065092608

In [267]:
def switch_case_demo(month_no):
    switcher = {1:"January",
                2:"February",
                3:"March",
                4:"April",
                5:"May",
                6:"June",
                7:"July",
                8:"August",
                9:"September",
               10:"October",
               11:"November",
               12:"December"}
    return switcher.get(month_no, "Invalid month no. provided.")

print (switch_case_demo(4))
print (switch_case_demo(6))
print (switch_case_demo(10))
print (switch_case_demo(40))

April
June
October
Invalid month no. provided.

In [268]:
def switch_case_demo(month_no):
    switcher = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June",
                7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
    return switcher.get(month_no, "Invalid month no. provided.")

print (switch_case_demo(4))
print (switch_case_demo(6))
print (switch_case_demo(10))
print (switch_case_demo(40))

April
June
October
Invalid month no. provided.

### Set Processing

In [273]:
# forming a set from a list
list1 = ['Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False]
set1 = set(list1)
print (set1, len(set1), type(set1), id(set1))

{False, True, 'Chennai', 'Amitava', 38.5, 70000} 6 <class 'set'> 1704079046720

In [274]:
# forming a set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False)
set1 = set(tuple1)
print (set1, len(set1), type(set1), id(set1))

{False, True, 'Chennai', 'Amitava', 38.5, 70000} 6 <class 'set'> 1704079042912

In [275]:
# forming a set directly
set1 = {'Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False}
print (set1, len(set1), type(set1), id(set1))

{False, True, 'Chennai', 70000, 'Amitava', 38.5} 6 <class 'set'> 1704079034176

### Frozen Set Processing

In [272]:
# forming a frozen set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False)
set1 = frozenset(tuple1)
print (set1, len(set1), type(set1), id(set1))

frozenset({False, True, 'Chennai', 'Amitava', 38.5, 70000}) 6 <class 'frozenset'> 1704078009376

In [276]:
# forming a frozen set from a list
set1 = frozenset(['Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False])
print (set1, len(set1), type(set1), id(set1))

frozenset({False, True, 'Chennai', 'Amitava', 38.5, 70000}) 6 <class 'frozenset'> 1704079033728

In [272]:
# forming a frozen set from a tuple
tuple1 = ('Amitava', True, 38.5, 70000, 'Chennai', 'Amitava', True, 38.5, False)
set1 = frozenset(tuple1)
print (set1, len(set1), type(set1), id(set1))

frozenset({False, True, 'Chennai', 'Amitava', 38.5, 70000}) 6 <class 'frozenset'> 1704078009376