### **Database with Python**

In [3]:
# SQLite database is inbuilt in Python.
# And it is the light weight version of the MySQL.

In [4]:
# importing the required modules
import sqlite3

In [5]:
# creating a database
# use the database if it already exists or create a new one
try:
    connection = sqlite3.connect("myemp.db")
    print ("Connected with the database successfully...")
except:
    print ("There are some connectivity error...")
    print ("Database could not get connected...")

Connected with the database successfully...

In [ ]:
SQLite manager online link:
https://extendsclass.com/sqlite-browser.html

Data files are mainly of following types:
* csv (Comma Separated Values)
* tsv (Tab Separated Values)
* XML (Extensible Markup Language)
* JSON (Java Script Object Notation)

In [6]:
# create employee table as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = '''
            CREATE TABLE employee (
                emp_id INTEGER PRIMARY KEY,
                emp_name TEXT,
                city TEXT,
                salary REAL
            );
         '''
try:   # create the table if it does not pre-exist
    connection.execute(sqlStr)
    print ("Database table has been created successfully")
except:
    print ("Error !!! Table could not be created...")

Database table has been created successfully

In [15]:
# inserting records from the csv file and writing it to the database employee table
import csv   # importing module to read the csv file content
# read the csv file content and string them into the table
# with open("C:\\Users\Arnab\AEC Python with DBMS July 2023\emp_data.csv") as data_file:
# with open("C:\\Users\\Arnab\\AEC Python with DBMS July 2023\\emp_data.csv") as data_file:
# with open("C:/Users/Arnab/AEC Python with DBMS July 2023/emp_data.csv") as data_file:
# with open("C:\\Users\\Arnab\\AEC Python with DBMS July 2023\\emp_data.csv") as data_file:
# with open("C:\\Users\Arnab\AEC Python with DBMS July 2023//emp_data.csv") as data_file:    
with open("emp_data.csv") as data_file:
    csv_reader = csv.reader(data_file)
    print (list(csv_reader))

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]

In [25]:
# inserting records from the csv file and writing it to the database employee table
import csv   # importing module to read the csv file content
with open("emp_data.csv") as data_file:
    csv_reader = csv.reader(data_file)
    print (list(csv_reader))
    print (len(list(csv_reader)))
    print (list(csv_reader))

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]
0
[]

In [26]:
# inserting records from the csv file and writing it to the database employee table
import csv   # importing module to read the csv file content
with open("emp_data.csv") as data_file:
    csv_reader = csv.reader(data_file)
    for rec in csv_reader:
        print (f"EmpID: {rec[0]}, EmpName: {rec[1]}, EmpLoc: {rec[2]}, EmpSal: {rec[3]}...")

EmpID: 1001, EmpName: Dhiman, EmpLoc: Kolkata, EmpSal: 39000...
EmpID: 1002, EmpName: Anupam, EmpLoc: Kolkata, EmpSal: 25000...
EmpID: 1003, EmpName: Subham, EmpLoc: Mumbai, EmpSal: 36000...
EmpID: 1004, EmpName: Dinesh, EmpLoc: Chennai, EmpSal: 28000...
EmpID: 1005, EmpName: Kakali, EmpLoc: Mumbai, EmpSal: 25000...
EmpID: 1006, EmpName: Bimal, EmpLoc: Hyderabad, EmpSal: 30000...
EmpID: 1007, EmpName: Tarun, EmpLoc: Chennai, EmpSal: 17000...
EmpID: 1008, EmpName: Rittik, EmpLoc: Durgapur, EmpSal: 45000...
EmpID: 1009, EmpName: Barun, EmpLoc: Hyderabad, EmpSal: 39000...
EmpID: 1010, EmpName: Utpal, EmpLoc: Lucknow, EmpSal: 20000...

In [28]:
# inserting records from the csv file and writing it to the database employee table
import csv   # importing module to read the csv file content

SqlStr = "INSERT INTO employee VALUES('{emp_id}', '{emp_name}', '{emp_loc}', '{emp_salary}');"

with open("emp_data.csv") as data_file:
    csv_reader = csv.reader(data_file)
    for row in csv_reader:
        print (row)
        connection.execute(SqlStr.format(emp_id = row[0], emp_name = row[1], emp_loc = row[2], emp_salary = row[3]))
connection.commit()    # to make the change permanent
print ("All date are inserted successfully...")

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']
All date are inserted successfully...

In [31]:
# retrieving records from the database table
# SQL for fetching all records from the table
SqlStr = "SELECT * FROM employee;"    # * means retrieving all attributes from the table
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(SqlStr)
for row in cur_table:
    print (f"EmpID: {row[0]}, EmpName: {row[1]}, EmpLoc: {row[2]}, EmpSal: {row[3]}...")

EmpID: 1001, EmpName: Dhiman, EmpLoc: Kolkata, EmpSal: 39000.0...
EmpID: 1002, EmpName: Anupam, EmpLoc: Kolkata, EmpSal: 25000.0...
EmpID: 1003, EmpName: Subham, EmpLoc: Mumbai, EmpSal: 36000.0...
EmpID: 1004, EmpName: Dinesh, EmpLoc: Chennai, EmpSal: 28000.0...
EmpID: 1005, EmpName: Kakali, EmpLoc: Mumbai, EmpSal: 25000.0...
EmpID: 1006, EmpName: Bimal, EmpLoc: Hyderabad, EmpSal: 30000.0...
EmpID: 1007, EmpName: Tarun, EmpLoc: Chennai, EmpSal: 17000.0...
EmpID: 1008, EmpName: Rittik, EmpLoc: Durgapur, EmpSal: 45000.0...
EmpID: 1009, EmpName: Barun, EmpLoc: Hyderabad, EmpSal: 39000.0...
EmpID: 1010, EmpName: Utpal, EmpLoc: Lucknow, EmpSal: 20000.0...

In [32]:
# retrieving records from the database table
# SQL for fetching all records from the table
SqlStr = "SELECT emp_id, emp_name, city FROM employee;"
# read from table and point the cursor into the variable cur_table
cur_table = connection.execute(SqlStr)
for row in cur_table:
    print (f"EmpID: {row[0]}, EmpName: {row[1]} and EmpLoc: {row[2]}...")

EmpID: 1001, EmpName: Dhiman and EmpLoc: Kolkata...
EmpID: 1002, EmpName: Anupam and EmpLoc: Kolkata...
EmpID: 1003, EmpName: Subham and EmpLoc: Mumbai...
EmpID: 1004, EmpName: Dinesh and EmpLoc: Chennai...
EmpID: 1005, EmpName: Kakali and EmpLoc: Mumbai...
EmpID: 1006, EmpName: Bimal and EmpLoc: Hyderabad...
EmpID: 1007, EmpName: Tarun and EmpLoc: Chennai...
EmpID: 1008, EmpName: Rittik and EmpLoc: Durgapur...
EmpID: 1009, EmpName: Barun and EmpLoc: Hyderabad...
EmpID: 1010, EmpName: Utpal and EmpLoc: Lucknow...